/* Styles for challenge2 */

body {
    font-family: 'Roboto';
}

wrapper {
    padding: 0 10%;
    max-width: 1180px;
    margin: 0 auto;
}

.middle {
    display: flex;
    flex-wrap: wrap;
}

input[type="text"] {
    border-radius: 5px;
    padding-left: 5px;
    background: rgb(203, 241, 132);
    outline: none;
    border: 1px solid black;
    margin: 15px;
    width: calc(50% - 30px);
}

input[type="text"]:focus {
    box-shadow: 0 0 10px black;
}

input[type="button"] {
    border-radius: 5px;
    border: 1px solid orange;
    color: orange;
    background: black;
    outline: none;
    transition: .5s;
    margin: 15px;
    width: calc(48% - 30px);
}

input[type="button"]:hover {
    transition: .5s;
    color: black;
    background: orange;
    border: 1px solid black;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px black;
}

.output {
    width: 100px;
    min-height: 100px;
    border: 1px solid black;
    background: rgb(203, 241, 132);
    justify-content: center;
    margin-top: 3%;
    margin-left: calc(54% - 100px);
}

span {
    padding-top: 20%;
    font-size: 40px;
    display: block;
    text-align: center;
    color: red;
}

@media screen and (max-width: 900px) {
    input[type="text"] {
        flex: 1 1 100%;
    }

    .button {
        flex: 1 1 100%;
        justify-content: center;
    }

    .output {
        margin-left: calc(57% - 100px);
    }
}

@media screen and (max-width: 790px) {
    input[type="text"] {
        flex: 1 1 100%;
        text-align: center;
    }
}