body {
    font-family: 'Roboto';
    font-size: 34px;
}

wrapper {
    padding: 0 10%;
    max-width: 1180px;
    margin: 0 auto;
}

.buttons {
    max-width: 50%;
}

.button1,
.button2 {
    padding: 1%;
    font-size: 34px;
    border: 4px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

.button1 {
    background: rgb(150, 150, 219);
}

.button2 {
    background: rgb(219, 150, 188);
}

.button1:hover {
    transition: .5s;
    background: rgb(47, 47, 218);
}

.button2:hover {
    transition: .5s;
    background: rgb(221, 52, 145);
}

.output {
    margin-top: 2%;
    padding-left: 2%;
    border: 4px solid black;
    border-radius: 4px;
    max-width: 40.5%;
    min-height: 70px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.bubble {
    margin-top: 3%;
    margin-left: -3%;
    position: absolute;
}