body {
    font-family: 'Roboto';
    font-size: 34px;
}

wrapper {
    padding: 0 10%;
    width: 1180px;
    margin: 0 auto;
}

.buttons,
.createElement {
    width: 30%;
}

.button1,
.button2,
.createElement input {
    padding: 1%;
    font-size: 34px;
    border: 4px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    width: 100%;
}

.buttons {
    margin-top: 2%;
}

.createElement input {
    background: rgb(150, 219, 156);
}

.button1 {
    background: rgb(150, 150, 219);
    margin-bottom: 2%;
}

.button2 {
    background: rgb(219, 150, 188);
}

.createElement input:hover {
    background: rgb(101, 243, 113);
    transition: .5s;
}

.button1:hover {
    transition: .5s;
    background: rgb(47, 47, 218);
}

.button2:hover {
    transition: .5s;
    background: rgb(221, 52, 145);
}

.output {
    margin-top: 2%;
    padding-left: 2%;
    padding-top: 1%;
    border: 4px solid black;
    border-radius: 4px;
    width: 30%;
    min-height: 70px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    display: block;
}

.output::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    right: 0;
    margin-bottom: -10%;
    display: block;
    border-bottom: 2px solid black;
}